.btn3{
    button{
        background-color: #7DE0EA;
        color: #ffffff;
        border: none;
        width: 20px;
        height: 50px;
        cursor: pointer;
        border-radius: 12px;
        box-shadow: 0px 3px 5px #00000040;
        position: fixed;
        right: 70px;
        bottom: 70px;
        font-size: 25px;
        z-index: 5;
        svg{
            font-size: 15px;
            width: 15px;
            height: 17px;
            flex-shrink: 0;
        }
    }
}
/*************************ScrollToBtn Responsive***********************/
@media screen and (max-width : 992px) {
    .btn3 {
        button{
            right: 10%;
            bottom: 90px;
        }
        
    }
}
