
    button{
        position: static;
        background-color: #7DE0EA;
        color: var(--bg-color);
        padding: 12px 33px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 6px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border: none;
        cursor: pointer;
        a{
                font-weight: 600;
                font-size: 14px;
                text-decoration: none;
                color: #FFFFFF;
        }
    }
/*************************button Responsive***********************/
@media screen and (max-width : 992px) {
    button{
        width: 125px;
        padding: 10px 20px;
        font-size: 10px;
        a{
            font-size: 10px;
        }
    }
}