.home{
    .hero-section{
        position: relative;
        padding-bottom: 30px;
        border-bottom: 1px dotted var(--first-color);
        .vector {
            position: absolute;
            z-index: -5;
            top: 20%;
            width: 100%;
        }
        .hero-dot{
            position: absolute;
            width: 4px; 
            height: 4px;
            background-color: var(--first-color); 
            border-radius: 50%; 
            top: 100%; 
            left: 50%;
            transform: translate(-50%, -50%); 
            z-index: 2;
        }
        .hero-circle{
            position: absolute;
            width: 15px; 
            height: 15px;
            background-color: transparent; 
            border: 1px solid var(--first-color);
            border-radius: 50%; 
            top: 100%; 
            left: 50%;
            transform: translate(-50%, -50%); 
            z-index: 3;
        }
        .hero-circle-2{
            position: absolute;
            width: 22px; 
            height: 22px;
            background-color: transparent; 
            border: 1px solid var(--first-color);
            border-radius: 50%; 
            top: 100%; 
            left: 50%;
            transform: translate(-50%, -50%); 
            z-index: 2;
        }
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
            .content{
                position: relative;
                .title{
                    max-width: 65%;
                    h2{
                        font-weight: 700;
                        font-size: 40px;
                        color: var(--first-color);
                        margin-bottom: 8px;
                        span{
                            font-weight: 400;
                            color: var(--first-color); 
                        }
                    }
                    
                }
                .description{
                    p{
                        font-weight: 400;
                        font-size: 18px;
                        max-width: 50%;
                        color: #43495B; 
                        margin-bottom: 30px;
                    }
                }
                .btn1{
                    border-radius: 6px;
                    border:none;
                    button{
                        width: 155px;
                        padding: 16px 32px;
                        font-weight: 600;
                        cursor: pointer;
                        text-decoration: none;
                        color: var(--first-color); 
                        background-color:  #ffffff99;
                    }
                }
            
            }
            .profile-img{
                position: relative;
                width: auto;
                height: 70%;
                margin: auto;
                .decorative-circle{
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    background-color: #7B55EC;
                    border-radius: 50%;
                    top: 15%;
                    left: 65%;
                }
                .decorative-circle-2{
                    position: absolute;
                    width: 19px;
                    height: 19px;
                    background-color: #7ec4eb;
                    border-radius: 50%;
                    top: 50%;
                    left: 64%;
                    z-index: 2;
                }
                .decorative-circle-3{
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    background-color: #7B55EC;
                    border-radius: 50%;
                    top: 60%;
                    left: -40%;
                }
                .decorative-square {
                    position: absolute;
                    width: 54px;
                    height: 57px;
                    background-color: #b8a9f3; 
                    top: 10%;
                    left: -35%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    border-radius: 16px;
                    z-index: 2;
                }
                .decorative-square-2{
                    position: absolute;
                    width: 37px;
                    height: 38px;
                    background-color: #7ec4eb; 
                    top: 35%;
                    left: 65%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    border-radius: 12px;
                    z-index: 2;
                }
                
                .main-img{
                    position: relative;
                    height: auto;
                    z-index: 2;
                    bottom: 8%;
                    width: 60%;
                }
            }
        }
        
    }
}
.hero-section::after{
        content: "";
        position: absolute;
        left: -56px;
        top: 30%;
        width: 30%;
        height: 35%;
        background: radial-gradient(circle,  #f4ddf8 );
        filter: blur(60px);
        z-index: -6;
}
.mode-dark .hero-section .container .content .title h2 {
    color: var(--bg-color);
}
.mode-dark .hero-section .container .content .title h2 span {
    color: var(--bg-color);
}
.mode-dark .hero-section .container .content .description p {
    color: var(--bg-color);
    }
.mode-dark .hero-section .container .content .btn1 button {
    background-color: var(--second-color);
    color: var(--bg-color);
}
.mode-dark .home .hero-section  {
    border-bottom: 1px dashed var(--bg-color);
}
.mode-dark .home .hero-section .hero-circle{
    background-color: #ffff;
    width: 22px;              
    height: 22px;
}
.mode-dark .home .hero-section::after{
    background: #1B2431;
}
/*************************Hero Responsive***********************/
@media screen and (max-width : 992px) {
    .home{
        .hero-section{
            .container{
                height: 100%;
                flex-direction: column;
                margin-top: 120px;
                gap: 40px;
                .content{
                    max-width: 100%;
                    .title{
                        max-width: 100%;
                        h2 {
                            font-size: 30px;
                        }
                    }
                    .description{
                        p {
                            max-width: 60%;
                        }
                    }
                }
                .profile-img{
                    margin: 0 30px;
                    .decorative-square ,.decorative-square-2
                        ,.decorative-circle-3{
                        left: 0;
                    }
                    .main-img{
                        left: 0;
                        width: 70%;
                    }
                }
            }
        }
    }
.hero-section::after{
        top: 20%;
        
    }
}
